body {
  margin: 0;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.top-bar {
  background-color: #e57373;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}
.logo {
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}
.nam,
.nu {
  width: 90px;
  text-align: center;
}
.home,
.gd,
.pk {
  width: 120px;
  text-align: center;
}
.nav-links {
  display: flex;
  gap: 30px;
}
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.search-bar {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  justify-content: center;
}
.search-box {
  width: 100px;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  transition: width 0.3s ease-in-out;
}
.search-box:hover {
  width: 150px;
  border-bottom: 1px solid #000;
}
.icons {
  display: flex;
  gap: 15px;
  font-size: 24px;
  cursor: pointer;
}
.content {
  width: 95%;
  height: 200px;
  text-align: center;
  margin: 50px auto;
  font-size: 18px;
  background-color: #bfefe5;
  display: flex;
  align-items: center;
  justify-content: center;
}
