body {
  margin: 0;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.top-bar {
  background-color: #e57373;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}
.logo {
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}
.nam,
.nu {
  width: 90px;
  text-align: center;
}
.home,
.gd,
.pk {
  width: 120px;
  text-align: center;
}
.nu,
.nam {
  border-bottom: 1px solid white;
}
.nu:hover,
.nam:hover {
  border-color: #000;
}
.bst:hover,
.pk:hover {
  border-bottom: 1px solid #000;
}
.nav-links {
  display: flex;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.search-bar {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  justify-content: center;
  justify-content: flex-end;
  margin-right: 30px;
}
.search-box {
  width: 100px;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  transition: width 0.3s ease-in-out;
}
.search-box:hover {
  width: 150px;
  border-bottom: 1px solid #000;
}
.icons {
  display: flex;
  gap: 15px;
  font-size: 24px;
  cursor: pointer;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.anhchinh {
  width: 100%;
  background-size: auto 100%;
  text-align: center;
  margin: 0px auto;
  font-size: 18px;
  position: relative;
}
.anhchinh img {
  max-width: 100%;
  height: auto;
}
.overlay-text {
  position: absolute;
  top: 77%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  white-space: nowrap;
  width: 200px;
}
.sub-text {
  position: absolute;
  top: 83%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  width: 90%;
  text-align: center;
  width: 300px;
}
.buttons {
  position: absolute;
  top: 91%;
  left: 15%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
}
.btn {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btnMN {
  background-color: #3795ff;
  color: #ddd;
}
.btnMN:hover {
  background-color: red;
}
.btnXT:hover {
  background-color: red;
  color: white;
  border-color: red;
}
.btnXT {
  color: #0077ff;
  background: transparent;
  border: 1px solid #0077ff;
}
.bst,
.pk {
  margin-left: 10px;
}
.search {
  cursor: pointer;
}
.column {
  margin: 0 30px;
  flex-basis: 0;
  flex-grow: 1;
}
.column h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.column ul {
  list-style-type: none;
  padding: 0;
}
.column ul li {
  font-size: 16px;
  margin-bottom: 5px;
}
.nu {
  position: relative;
}
.nu-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.hidden {
  display: none;
}
